<!DOCTYPE html>
<html>
<header>
    <title>login</title>
    <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="/static/css/login1.css">

</header>

<body>
    <div style="background-image: url('/static/banner.jpg');
    background-size: cover;
    height:170px; 
    padding-top:10px;">  
   </div>


   <div id="login-box">
 <div class="left">
     <form action="/adlogin" method="POST">

        <h1 style="text-align: center;"> ADMIN LOGIN</h1>
        <br> <br> <br>
        <input type="username" name="username"   placeholder="Username">
        <br> <br> <br>
    
        
        <input type="password" name="password"    placeholder="Password">

         <input type="submit" value="Log in">
      </form>

</div>  

</body>

</html>